.my-carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;

  /* max-height: 100%; */
  max-width: 50%;
  height: auto;
  /* border-radius: 1rem; */
}

.rel {
  position: relative;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  translate: none;
}

.snap {
  scroll-snap-type: x normal;
}

.home-shadow {
  box-shadow: 0rem -0.25rem 1rem #00000060;
}

.title-font {
  font-size: clamp(7.75rem, calc(8dvw + 1rem), 12rem);
}

.view-button {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

#heroGradient {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    #003152 0%,
    #074b72 20%,
    #2c638b 40%,
    #4f5681 60%,
    #714a78 80%,
    #603768 100%
  );
}
.dark #heroGradient {
  opacity: 0;
}

.outline-card {
  border: 2px solid var(--tertiary-container);
  border-radius: 1rem;
  padding: 0.5rem 0.75rem 0.6rem;
  width: 90%;
  height: fit-content;
  grid-area: b;
  transition: filter 25ms cubic-bezier(0.4, 0, 0.2, 1);

  &.focused {
    border-color: hsl(from var(--tertiary-container) h s calc(l + 4));
    filter: drop-shadow(0px 0px 4px hsl(from var(--tertiary-container) h s l / 75%));
  }
}

.center-title-block-text > article {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.hero-card {
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  transition: scale 300ms var(--transition);
  &.one {
    animation: careerCard 6s var(--transition) 0s infinite forwards;
  }
  &.two {
    animation: careerCard 6s var(--transition) 2s infinite forwards;
  }
  &.three {
    animation: careerCard 6s var(--transition) 4s infinite forwards;
  }
}

@keyframes careerCard {
  0% {
    scale: 1;
  }
  12.5% {
    scale: 1.25;
  }
  20.5% {
    scale: 1.25;
  }
  33% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}

@media screen and (width > 1000px) {
  .outline-card {
    width: 93%;
    height: 88%;
    grid-area: b/b-start/b-end/c-end;
  }
}

@media screen and (width < 1000px) {
  .section-header::before,
  .section-header::after {
    content: "";
    /* height: 0; */
    width: calc(16dvw + 1rem);
    padding: 0.1rem 0;
    background-color: var(--tertiary-container);
  }
}
