:root {
  min-height: 100dvh;
  height: fit-content;
  width: 100dvw;

  font-size: 16px;

  background-color: var(--sys-theme);
  color: var(--inverse-sys-theme);

  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scrollbar-color: var(--tertiary-container) var(--primary);

  #root *:focus-visible {
    outline: 4px solid #3fb1f3;
    border-radius: calc(1rem - 4px);
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  min-height: fit-content;
}

.trans {
  translate: -50% -50%;
}

.hide-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.hover-active {
  &:hover {
    filter: brightness(115%);
    scale: 1.1;
    animation: shake 1s var(--transition) linear;
  }
  &:active {
    filter: brightness(90%);
    scale: 0.95;
  }
}
@media (prefers-reduced-motion: reduce) {
  .hover-active {
    animation: none;
  }
}

.dark-border:is(.dark *) {
  border: 0.5px solid #ffffff1c;
}

.page-loading-screen {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--surface-dim);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 9999999;
}

#pageContent {
  animation: fadeIn 0.5s ease-in linear;
}

@keyframes fadeIn {
  from {
    background-color: hsl(from var(--surface-dim) h s l / 90%);
  }
  to {
    background-color: hsl(from var(--surface-dim) h s l / 0%);
  }
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 3deg;
  }
  75% {
    rotate: -3deg;
  }
  100% {
    rotate: 0deg;
  }
}

@media screen and (width < 1000px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (width < 768px) {
  :root {
    font-size: 12px;
  }
}
